.agency-bg {
  position: relative;
  min-height: 100vh;
  background-color: #F6F8FA;
  display: flex;
  flex-direction: column;
  color: #000;
}


.Contener{
    background-color: #C7D1F6;
    margin: 30px;
    height: 50px;
    opacity: 0.85; 
}
.text-topic {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: 700; 
    color: #000;
}
.emc-contect{
    margin: 2rem;
    text-align:left;
    font-size: 30px;
    font-weight: 700; 
    
}