/* Container หัวข้อหลัก */
.Container {
  background-color: #C7D1F6;
  margin: 30px auto;
  height: 50px;
  opacity: 0.85; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-topic {
  font-size: 30px;
  font-weight: 700; 
  color: #000;
}

/* หัวข้อฉุกเฉิน */
.emc-contact {
  margin: 2rem;
  font-size: 30px;
  font-weight: 700; 
  text-align: left;
}

/* รายชื่อองค์กร */
.organizations {
  display: flex;
  flex-direction: column; /* เรียงแนวตั้ง */
  align-items: center;    /* จัดแนวนอนกลาง */
  gap: 1rem;              
}

/* Card องค์กร */
.ag-Container {
  background-color: white;
  width: 1200px;
  height: 70px;
  opacity: 0.85; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-ag {
  font-size: 30px;
  font-weight: 700; 
  color: #000;
  text-align: center;
}
