html, body {
  height: 100%;
  margin: 0;
}
    * {
      box-sizing: border-box;
    }

    .logo-area {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .title {
      line-height: 1.2;
    }
    .title .th {
      font-weight: bold;
      font-size: 24px;
    }
    .title .en {
      font-size: 13px;
      font-weight: bold;
    }
    nav {
      display: flex;
      gap: 20px;
    }
    nav a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
    nav a:hover {
      text-decoration: underline;
    }
body {

  color: white;

  /* background image + overlay โปร่ง */
  background-color: #002080;  
}

    header {
      background-color: #002080; /* สีน้ำเงินเข้ม */
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 20px;
    }
    