@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------- Custom CSS ----------------- */
html, body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  line-height: 1.2;
}
.title .th {
  font-weight: bold;
  font-size: 24px;
}
.title .en {
  font-size: 13px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}
nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

body {
  position: relative;
  min-height: 100vh;
  background: url('/bg-flooding.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
}

body::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #9CAEF3;
  opacity: 0.55;
  z-index: -1;
}

header {
  background-color: #002080; /* สีน้ำเงินเข้ม */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}
